{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.lastname }} {{ app.user.firstname }}{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1 class="h3 mb-3 font-weight-normal">Profil de {{ app.user.login }}</h1>
                <div>Nom : {{ app.user.lastname }}</div>
                <div>Prénom : {{ app.user.firstname }}</div>
                <div>Addresse : {{ app.user.address }}</div>
                <div>Ville : {{ app.user.city }}</div>
                <div>Code postal : {{ app.user.zipcode }}</div>
                <div>E-mail : {{ app.user.email }}</div>
                <a href="{{ path('profile_edit_profile') }}" class="btn btn-primary mt-3">Modifier le profil</a>
                <a href="/" class="btn btn-secondary mt-3">Retour à l'accueil</a>
			</div>
		</div>
	</section>
{% endblock %}
