{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1 class="pb-2 border-bottom fw-bold">Inscription</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
                    <fieldset class="mb-3">
                        <legend class='fw-bold'>Mon identité</legend>
				        {{ form_row(registrationForm.login) }}
				        {{ form_row(registrationForm.lastname) }}
				        {{ form_row(registrationForm.firstname) }}
                    </fieldset>

                    <fieldset class="mb-3">
                        <legend class='fw-bold'>Mes coordonnées</legend>
                        {{ form_row(registrationForm.address) }}
                        {{ form_row(registrationForm.zipcode) }}
                        {{ form_row(registrationForm.city) }}
                        {{ form_row(registrationForm.email) }}
                    </fieldset>

				    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
				    {{ form_row(registrationForm.agreeTerms) }}

				    <button type="submit" class="btn btn-primary btn-lg mt-3">M'inscrire</button>
					<a href="{{ path('app_login')}}" class="btn btn-secondary mt-3">Me connecter</a>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>

    <script>
        $(document).ready(function () {
            $("#submit").click(function (e) {
                e.preventDefault();

                // Récupérer les données du formulaire
                var formdata = $('registrationForm').serialize();

                $.ajax({
                    url: "{{ path('app_register') }}",
                    type: 'POST',
                    dataType: 'json', //text
                    data: formdata,
                    success: function (response) {
                        console.log(response);

                        // Afficher une popup de succès stylisée
                        showAlert('Succès', 'L\'utilisateur a été ajouté avec succès', 'success');
                        
                        // Réalisez d'autres actions si nécessaire
                        // Réinitialiser le formulaire
                        $('registrationForm')[0].reset();
                    },
                    error: function (response) {
                        console.log('Erreur Ajax:', response);

                        // Afficher une popup d'erreur stylisée
                        showAlert('Erreur', 'Erreur lors de l\'ajout de l\'utilisateur', 'error');
                    }
                });
            });

            // Fonction pour afficher une popup stylisée avec SweetAlert2
            function showAlert(title, message, icon) {
                Swal.fire({
                    title: title,
                    text: message,
                    icon: icon,
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>
{% endblock %}